<!-- PAGE TITLE -->
<section id="page-title" class="page-title-parallax page-title-center text-dark" style="background-image:url(assets/img/page-title-parallax.jpg);">
  <div class="container">
    <div class="page-title col-md-8">
      <h1>Catégorie : poster</h1>
    </div>
  </div>
</section>
<!-- END: PAGE TITLE -->


<section class="content">
  <div class="container">

    <form name="EditPostForm">
      <div class="form-group">
        <label for="inputTitle">Nom</label>
        <input ng-model="category.name" id="inputTitle" type="text" class="form-control" placeholder="Titre">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="save(category)">Poster</button>
    </form>

  </div>
</section>
